// 1. container
// 2. row
// 3. column
// 4. division & section

// 1. container
%center{
    margin-left: auto;
    margin-right: auto;
}
.cx-wrap{
    padding: $space-base;
    @media (min-width: $breakpoint-md) {
        padding: $space-lg;
    }
}
.cx-wrap--article{
    @extend %center;
    max-width: 900px;
    padding: $space-base;
    @media (min-width: $breakpoint-md) {
        padding: $space-lg;
    }
    p:last-of-type{
        margin-bottom: 0;
    }
}
.cx-wrap--page{
    @extend %center;
    max-width: 1400px;
    @media (min-width: $breakpoint-xl) {
        max-width: 1900px;
    }    
}

// 2. row
%row{
    flex-direction: row;
    align-items: inherit;
    flex-wrap: wrap;
    display: flex;
    &:not(:last-child){
        margin-bottom: $space-base;
    }
    body > &{
        margin-bottom: 0 !important;
    }
    form &{
        align-items: flex-end;
    }  
}
%row--nowrap{
    flex-wrap: nowrap;
}
.cx-row{
    @extend %row;
    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;
    @media (min-width: $breakpoint-md) {
        margin-left: -$gutter;
        margin-right: -$gutter;
    }
    &--fullgutter{
        @extend %row;
        margin-left: -$gutter / 2;
        margin-right: -$gutter / 2;         
    }
    &--halfgutter{
        @extend %row;
        margin-left: -$gutter / 4;
        margin-right: -$gutter / 4;        
    }
    &--nogutter{
        @extend %row;
    }    
    &--flat{
        @extend %row;
        @extend %row--nowrap;
        display: flex !important;
    }
    &--flat-xl{
        @extend %row;  
        @extend %row--nowrap;
        @media (min-width: $breakpoint-md) {
            display: block;
        }
    }
    &--line{
        @extend %row;
        @extend %row--nowrap;
        justify-content: space-between;
        align-items: center;
    }    
}


// 3. column
.cx-col, [class^="cx-col-"], [class*=" cx-col-"] {
    position: relative;
    clear: both;
    width: 100%;
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
    @media (min-width: $breakpoint-md) {
        padding-right: $gutter;
        padding-left: $gutter;
    }      
    .cx-row--nogutter > &{
        padding-left: 0;
        padding-right: 0;
    }
    .cx-row--halfgutter > &{
        padding-left: $gutter / 4;
        padding-right: $gutter / 4;
    }
}

.cx-col{
    &-wide{
        padding: 0 !important;
        flex-grow:1;
        flex-shrink: 1;
        flex-basis: 0;
        // flex: 1;
        width: 100%;
        max-width: 100%;
        @media (min-width: $breakpoint-md) {
            flex-grow:1;
            flex-shrink: 1;
            flex-basis: 0;
            // flex: 1;
            width: 100%;
            max-width: 100%;
            min-width: $breakpoint-md;
        }
        _:-ms-input-placeholder & {
            min-width: 0;
        }
    }
    &-narrow{
        padding: 0 !important;
        flex-grow:1;
        flex-shrink: 1;
        flex-basis: 0;
        // flex: 1;
        width: 100%;
        max-width: 100%;
        min-width: $breakpoint-xs;
        _:-ms-input-placeholder & {
            min-width: 0;
        }
    }
    .cx-row--flat > &, .cx-row--flat-xl > &, .cx-row.-j-center > &, .cx-row--line > &{
        padding: 0 ($gutter / 2);
        width: auto;
        html[dir="ltr"] &{
            padding-left: 0;
        }
        html[dir="rtl"] &{
            padding-right: 0;
        }        
        &:last-child{
            html[dir="ltr"] &{
                padding-right: 0;
            } 
            html[dir="rtl"] &{
                padding-left: 0;
            }            
        }
    }
    .cx-row--flat-xl > &{
        @media (min-width: $breakpoint-md) {
            width: 100%;
            html[dir="ltr"] &{
                padding-right: 0;
            } 
            html[dir="rtl"] &{
                padding-left: 0;
            }            
        }      
    }
}

// from .cx-col-xs-1 to .cx-col-xl-12
@each $size, $breakpoint in $bpvars{
    @media (min-width: #{$breakpoint}) {
        @for $column from 1 through $columns{
            .cx-col-#{$size}-#{$column}{ // with column gap
                width: $column / $columns * 100%;
            }
        }
    }
}

// 4. Division & Section
%cx-div{
    display: block;
    &:not(:last-child){
        margin-bottom: $int-space-base;
    }
}
.cx-div{
    @extend %cx-div;
    &--highlight{
        @extend %cx-div;
        background-color: rgba($color-primary, .1);
        font-weight: bold;
        color: $color-primary;
        padding: $space-base;
        @media (min-width: $breakpoint-sm) {
            padding: $space-lg;
        }         
    }
    &--outer{
        display: block;
        margin-bottom: $space-base;
        @media (min-width: $breakpoint-sm) {
            margin-bottom: $space-lg;
        }              
    }
    &--sm{
        display: block;
        &:not(:last-child){
            margin-bottom: $int-space-sm;
        }        
    }
}

.cx-sec{
    padding: $space-xl $space-base;
    @media (min-width: $breakpoint-sm) {
        padding: $space-xl $space-lg;
    }    
    @media (min-width: $breakpoint-lg) {
        padding: $space-xl;
    }
    @media (min-width: $breakpoint-xl) {
        padding: $space-xxl $space-xl;
    }    
}

// 5. View
.cx-view{
    transition: transform .5s ease-in-out;
    will-change: transform;
    display: flex;
    flex-wrap: nowrap;    
    min-height: 100vh;
    &__item{
        flex: 1 0 100%;
        position: relative;
    }
}