// @font-face {
//     font-family: "Noto Sans Condensed";
//     src: url("../fonts/NotoSans-Condensed.ttf");
// }
// @font-face {
//     font-family: "Noto Sans Condensed";
//     src: url("../fonts/NotoSans-CondensedBold.ttf");
//     font-weight: bold;
// }

/* noto-sans-regular - latin */
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/noto-sans-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/noto-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v8-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/noto-sans-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url('../fonts/noto-sans-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v8-latin-700.svg#NotoSans') format('svg'); /* Legacy iOS */
}



// @font-face {
//     font-family: "Noto Sans";
//     src: url("../fonts/NotoSans-Regular.ttf");
// }
// @font-face {
//     font-family: "Noto Sans";
//     src: url("../fonts/NotoSans-Bold.ttf");
//     font-weight: bold;
// }