// 1. Background Image
// 2. Normalize Link Color
// 3. Link Color
// 4. Pop Shadow
// 5. Position Absolute Full Cover
// 6. Set Flexible Typogarphy System
// 7. Noselect

// 1. Background Image
@mixin bg-img($src: $default-img){
    background-color: rgba($color-text,.1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url($src);
}

// 2. Normalize Link Color
@mixin normalize-link($hover: $color-primary){
    a{
        color: inherit;
        &:hover{
            text-decoration: none;
            color: $hover;
        }
    }
}

// 3. Link Color
@mixin link-color($color){
    color: $color;
    &:hover{
        color: darken($color, 10%);
    }
}

// 4. Pop Shadow
@mixin pop-shadow{
    box-shadow: 0 0.15rem 0.15rem 0 rgba($color-text,.1)
}

// 5. Position Absolute Full Cover
@mixin pos-abs-full{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// 6. Set Flexible Typogarphy System
$typeset:(
    cx-t02: $tinytext, // 0.7
    cx-t01: $subtext, // 0.8
    cx-t00: $text, // 1
    cx-t10: $subtitle, // 1.2
    cx-t20: $title, // 1.8
    cx-t30: $display, // 3
);

@mixin set-font($scale: 1){
  font-size: #{$scale + 'rem'};
   @each $type, $fontsize in $typeset{
    .#{$type}{
      font-size: #{ (pow(($fontsize / 1rem), ($scale / 1.2))) * 1em };
    } 
  }
}

// 7. Noselect
@mixin noselect {        
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}