// from bootstrap reboot

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #3d4649;
  // text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a{
  color: $color-primary;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  &:hover{
    color: darken($color-primary, 10%);
    text-decoration: underline;
  }
}


pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
  border-color: $color-border;
  border-bottom: 1px solid $color-border;
}
tr{
  border-color: $color-border;
  border-top: 1px solid $color-border;
}
td, th{
    border-color: $color-border;
    padding: .25em;
    vertical-align: middle
    // & + &{
    //   padding-left: .5em;
    // }
}
tbody, thead, tfoot{
  border: 0;
  vertical-align: top;
}
thead{
  border-bottom: 2px solid $color-border;
  border-top: 2px solid $color-border;
  background: $color-lightbg;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: $color-darkgrey;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

// 1. Antialias
*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}


// 2. Highlighted Text
::selection {
	background: $color-primary; /* WebKit/Blink Browsers */
	color: $color-white;
}
::-moz-selection {
	background: $color-primary; /* Gecko Browsers */
	color: $color-white;
}

// Helpers
// 1. Responsive Typograhpy plus font size scaler control
$font-control:(
  fs-0: $fs-small,
  fs-1: $fs-medium,
  fs-2: $fs-large,
);

@each $html-class, $size in $font-control{
  @if $html-class == "fs-0" {
    html {
      font-size: $size; // font-size: 16px;
      @media (min-width: $breakpoint-sm) {
        font-size: $size * $multiplier-sm;
      }
      @media (min-width: $breakpoint-md) {
        font-size: $size * $multiplier-md;
      }
      @media (min-width: $breakpoint-lg) {
        font-size: $size * $multiplier-lg;
      }
      @media (min-width: $breakpoint-xl) {
        font-size: $size * $multiplier-xl;
      } 
    }      
  } @else {
    html.#{$html-class} {
      font-size: $size;
      @media (min-width: $breakpoint-sm) {
        font-size: $size * $multiplier-sm;
      }
      @media (min-width: $breakpoint-md) {
        font-size: $size * $multiplier-md;
      }
      @media (min-width: $breakpoint-lg) {
        font-size: $size * $multiplier-lg;
      }
      @media (min-width: $breakpoint-xl) {
        font-size: $size * $multiplier-xl;
      }       
    }
  }
}

// 2. Black & White Mode
.fs-bw{
  filter: grayscale(100%);
}

// 3. Reset Typography Margin Bottom
h1, h2, h3, h4, h5, h6, p, ul{
  &:last-child{
    margin-bottom: 0;
  }
}
