// 1. Show or Hide
// 2. Active
// 3. Freeze
// 4. Text & Background State
// 5. Flex State
// 6. Text Treatment
// 7. Border
// 8. Radius
// 9. Shadow
// 10. Loading Skeleton
// 11. Floating
// 12. Black & White Mode - Use in html class

// 1. Show or Hide
.-shown{
    display: block !important;
}
.-hidden{
    display: none !important;
}

@each $size, $breakpoint in $bpvars{
    // hidden from
    @media (min-width: #{$breakpoint}) {    
        .-hidden-#{$size}{
            display: none !important;
            visibility: hidden !important;
        }
    }   
}
@each $size, $breakpoint in $bpvars-max{
    // hidden till
    @media (max-width: #{$breakpoint}) {    
        .-shown-#{$size}{
            display: none !important;
            visibility: hidden !important;
        }
    } 
}
// 2. Active
.-active{
    &.cx-link{
        color: $color-primary;
    }
}
.-disable{
    &.cx-link{
        color: $color-disable;
        pointer-events: none;
        &:hover{
            color: $color-disable;
        }
    }
}

// 3. Freeze - No Scroll + Mask On
.-freeze--nl{
    overflow: hidden;
}
.-freeze{
    overflow: hidden;
    position: fixed;
    &:after{
        @include pos-abs-full;
        content: "";
        background-color: rgba($color-text, .8);
        z-index: $z-sky + 1;
    }
}

// 4. Text & Background State
.-highlight, .-t-highlight{
    color: $color-yellow !important;
}
.-fade, .-t-fade{
    color: $color-fade1 !important;
}
.-fade2, .-t-fade2{
    color: $color-fade2 !important;
}
.-fade3, .-t-fade3{
    color: $color-fade3 !important;
}
.-t-disabled, .-fade4, .-t-fade4{
    color: $color-fade4 !important;
}
.-danger, .-t-danger{
    color: $color-danger !important;
}
.-t-primary{
    color: $color-primary !important;
}

.-bg-highlight{
    background-color: rgba(lighten($color-primary, 50%), .1);
    font-weight: bold;
    color: $color-primary;
    padding: $space-base;
    @media (min-width: $breakpoint-sm) {
        padding: $space-lg;
    }
}
.-bg-danger{
    background-color: $color-danger !important;
}
.-boxed{
    padding: 0 $int-space-xs;
    background-color: $color-primary;
    color: $color-white;
    border-radius: $br-base;
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    max-width: 90%;    
}
// 5. Flex State
.-d-flex{
    display: flex;
}
.-d-inline-flex{
    display: inline-flex;
}

.-v-top{
    align-items: flex-start !important;
}
.-v-center{
    align-items: center !important;
}
.-v-bottom{
    align-items: flex-end !important;
}

.-j-top{
    justify-content: flex-start !important;
}
.-j-center{
    justify-content: center !important;
}
.-j-bottom{
    justify-content: flex-end !important;
}
.-j-between{
    justify-content: space-between !important;
}

// 6. Text Treatment
.-center{
    text-align: center !important;
}
.-left{
    text-align: left !important;
}
.-right{
    text-align: right !important;
}
.-truncate{
    @extend %truncate;
}

// 7. Border
%-border-base{
    border-color: $color-border;
    border-style: solid;
    border-width: 0;
}
.-border{
    @extend %-border-base;
    border-width: 1px;    
}
.-border-top{
    @extend %-border-base;
    border-top-width: 1px;
}
.-border-left{
    @extend %-border-base;
    border-left-width: 1px;
}
.-border-right{
    @extend %-border-base;
    border-right-width: 1px;
}
.-border-bottom{
    @extend %-border-base;
    border-bottom-width: 1px;
}


// 8. Radius
.-round-corner{
    border-radius: $br-base;
    overflow: hidden;
    position: relative;
}
.-round{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}


// 9. Shadow
.-shadow{
    @include pop-shadow;
}


// 10. Loading Skeleton
.-loading {
    width: 100%;
    height: 200px; /* change height to see repeat-y behavior */
    background-image:
        radial-gradient( circle 50px at 50px 50px, $color-border 99%, transparent 0 ),
        linear-gradient( 90deg, rgba($color-grey, 0), rgba($color-grey, 0.5) 50%, rgba($color-grey, 0) 80% ),
        linear-gradient( $color-border 20px, transparent 0 ),
        linear-gradient( $color-border 20px, transparent 0 ),
        linear-gradient( $color-border 20px, transparent 0 ),
        linear-gradient( $color-border 20px, transparent 0 );

    background-repeat: repeat-y;

    background-size:
        100px 200px, /* circle */
        80px 200px, /* highlight */
        50px 200px,
        350px 200px,
        300px 200px,
        250px 200px;

    background-position:
        0 0, /* circle */
        0 0, /* highlight */
        120px 0,
        120px 40px,
        120px 80px,
        120px 120px;

    animation: shine 1s infinite;
}

@keyframes shine {
    to {
        background-position:
            0 0,
            100% 0, /* move highlight to right */
            120px 0,
            120px 40px,
            120px 80px,
            120px 120px;
    }
}

// 11. Layout

.-full-width{
    width: 100vw !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;    
}


// 12. Float
.-float-left{
    float: left;
    margin-right: $space-base;
    margin-bottom: $space-base;
}
.-float-right{
    float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

// 12. Black & White Mode - Use in html class
.-bnw{
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
}