// 1. Color
// 2. Space
// 3. Typography
// 4. Border Radius
// 5. breakpoint
// 6. Z-layers
// 7. Layout
// 8. Icon & Marker Size
// 9. Image
// 10. Min Hit Area
// 11. Font Width


// 1. Color
// $color-red:             #e12c14 !default;
$color-red:             #d7192e !default;
// $color-green:           #2ba56b !default;
$color-green:           #008a28 !default;

$color-grey:         	#f9f7f4 !default;
$color-midgrey:         #9ea6a9 !default;
// $color-darkgrey:		#3d4649 !default;
$color-darkgrey:		#343a40 !default;
$color-white:         	#ffffff !default;
$color-black:			#3d4649 !default;
$color-purple:          #9e005d !default;
$color-orange:          #f15a24 !default;
$color-bluegreen:	    #00a99d !default;
$color-yellow:          #ffd05b !default;
$color-pureblack:		#000000 !default;

$color-primary:         $color-green !default;
$color-secondary:       $color-red !default;
$color-disable:         $color-midgrey !default;

$color-text:            $color-black !default;
$color-fade1:           lighten($color-black, 19%) !default;
$color-fade2:           lighten($color-black, 29%) !default;
$color-fade3:           lighten($color-black, 39%) !default;
$color-fade4:           lighten($color-black, 49%) !default;
$color-danger:          $color-red !default;

$color-border:          rgba(#a2a2a2, .2) !default;
$color-lightbg:         rgba(#dcd4bd, .1) !default;

$brand-color:(
    facebook: #3b5998,
    twitter: #1da1f2,
    youtube: #ff0000,
    instagrammagenta: #c32aa3,
    instagramblue: #4c5fd7,
    instagrampurple: #7232bd,
    instagramorange: #f46f30,
    instagramyellow: #ffdc7d,
    googleblue: #4285f4,
    googlered: #ea4335, 
    googleyellow: #fbbc05, 
    googlegreen: #34a853,
    vk: #4c75a3,
    pinterest: #bd081c,
    googleplus: #db4437,
    linkedin: #007bb5,
    vimeoblue: #1ab7ea,
    tumblr: #2c4762,
    snapchat: #fffc00,
    whatsapp: #25d366,
    sinaweibo: #eb7350,
    wechat: #3BBA00,
    line: #00b900,
    telegram: #0088cc,
    tencentweibo: #3DA9F6,
    facebook-messenger: #0084ff,
    qq: #F9CD00,
) !default;


// 2. Space
$space-xs: .25rem !default;
$space-sm: .5rem !default;
$space-base: 1rem !default;
$space-lg: 2rem !default;
$space-xl: 4rem !default;
$space-xxl: 6rem !default;

$int-space-xs: .25em !default;
$int-space-sm: .5em !default;
$int-space-base: 1em !default;
$int-space-lg: 2em !default;
$int-space-xl: 4em !default;

// 3. Typography
$font-xs: 0.7rem !default;
$font-sm: 0.8rem !default;
$font-base: 1rem !default;
$font-md: 1.2rem !default;
$font-lg: 1.8rem !default;
$font-xl: 3rem !default;
$font-xxl: 6rem !default;

$lineheight-xs: 1.65 !default;
$lineheight-sm: 1.6 !default;
$lineheight-base: 1.5 !default;
$lineheight-md: 1.4 !default;
$lineheight-lg: 1.3 !default;
$lineheight-xl: 1.2 !default;
$lineheight-xxl: 1.15 !default;

// Control Font Size Scaler size
$fs-small: 1rem !default;
$fs-medium: 1.1rem !default;
$fs-large: 1.2rem !default;

// Control which text use which size
$tinytext: $font-xs !default;
$subtext: $font-sm !default;
$text: $font-base !default;
$subtitle: $font-md !default;
$title: $font-lg !default;
$display: $font-xl !default;

// Multiply font size when viewing in different screen size
// $multiplier-sm: 0.85 !default;
// $multiplier-md: 0.9 !default;
// $multiplier-lg: 0.95 !default;
// $multiplier-xl: 1 !default;
$multiplier-sm: 1 !default;
$multiplier-md: 1.05 !default;
$multiplier-lg: 1.1 !default;
$multiplier-xl: 1.15 !default;

// 4. Border Radius:
$br-sm: 3px !default;
$br-base: 5px !default;
$br-lg: 10px !default;

// 5. mobile first breakpoint
$breakpoint-xs: 320px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1100px !default;
$breakpoint-xl: 2000px !default;

// use in max width
$breakpoint-xs-max: $breakpoint-xs - 1 !default;
$breakpoint-sm-max: $breakpoint-sm - 1 !default;
$breakpoint-md-max: $breakpoint-md - 1 !default;
$breakpoint-lg-max: $breakpoint-lg - 1 !default;
$breakpoint-xl-max: $breakpoint-xl - 1 !default;

// use to build columns
$bpvars:(
    xs: $breakpoint-xs,
    sm: $breakpoint-sm,
    md: $breakpoint-md,
    lg: $breakpoint-lg,
    xl: $breakpoint-xl,
);

$bpvars-max:(
    xs: $breakpoint-xs-max,
    sm: $breakpoint-sm-max,
    md: $breakpoint-md-max,
    lg: $breakpoint-lg-max,
    xl: $breakpoint-xl-max,
);


// 6. Z-layers
$z-sky: 10000;
$z-overlay: 1000;
$z-dropdown: 100;
$z-base: 1;
$z-hell: -999;

// 7. Layout
$columns: 12;
$gutter: $space-lg;

// 8. Icon & Marker Size
$icon-size: $font-lg !default;
$icon-font: 11px !default;
$icon-size-sm: $font-md !default;
$icon-font-sm: 11px !default;

// 9. Image
$thumb-img: 100px !default;
$thumb-graphic: 75px !default;
$default-img: "https://unsplash.it/400" !default;
$logo-img: "../images/craxhui.svg" !default;


// 10. minimum hit area
$touch-target-size: 40px !default;

// 11. Font Width
$font-condensed:  'Noto Sans Condensed', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, 'source-han-sans-traditional', 'PingFang TC', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
$font-regular:  'Noto Sans', 'Helvetica Neue', Helvetica, Arial, 'source-han-sans-traditional', 'PingFang TC', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
$font-default: $font-regular !default;
