// Block usually consist of several components

// 1. dropdown
// 2. Card
// 3. Off Canvas Menu
// 4. Slider
// 5. Tab - CSS only
// 6. Accordion - CSS only

// 0. Link on Dropdown / Offcanvas menu
%link-on-list{
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    padding: $int-space-sm $space-base;
    &:hover{
        color: $color-primary;
        background-color: rgba(lighten($color-primary, 50%), .1);
    }
    &.-active{
        color: $color-primary;
        background-color: rgba(lighten($color-primary, 50%), .1);
    }
}

// 1. Droopdown
.cx-megamenu{
    @include normalize-link($color-white);
    @include set-font(.75);
    background-color: rgba($color-primary, .9);
    color: $color-white;
    padding: $space-lg $space-base;
    position: absolute;
    left: 0;
    right: 0;
    z-index: $z-dropdown;
    .cx-link__icon, .cx-t10{
        opacity: .5;
    }
    .cx-t10--border{
        border-color: mix($color-white, $color-primary, 20%);
    }
}

.cx-dropdown{
    position: relative;
    $self: &;
    &__content{
        // default is downwards + left aligned
        @include pop-shadow;
        top: 100%;
        left: 0;
        padding: $space-sm 0;
        transition: all .1s ease-in-out;
        will-change: transform;
        transform-origin: center top 0px;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
        position: absolute;
        overflow: hidden;
        right: calc(50% - (7px + 10px));
        min-width: 160px;
        max-width: 100vw;
        max-height: 400px;
        background-color: $color-white;
        z-index: 101;
        border-radius: $br-base;
        border: 1px solid $color-border;
        margin-top: $space-xs;
        overflow-y: auto;
        // upwards
        &.-up{
            top: auto;
            bottom: 100%;
        }
        // right aligned
        &.-right{
            left: auto;
            right: 0;
        }
        .cx-link{
            @extend %link-on-list;
        }
        .cx-list__item{
            margin-bottom: 0;
            &:before{
                display: none;
            }
        }
    }
    .cx-div{
        @include set-font(1);
    }
}

// 2. Card
%popup{
    background-color: $color-white;
}
.cx-card{
    @extend %popup;
    max-width: 250px;
    top: 10px;
    margin-bottom: 10px;
    padding: $int-space-sm;
    &:after{
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -10px;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $color-white transparent;
        z-index: 1;
    }
    .cx-wrap--article{
        padding: $space-sm;  
    }
    &--wide{
         @extend %popup;
    }
    &--notify{
        text-align: center;
        position: relative;
    }
    &__close{
        position: absolute;
        top: -1 * $icon-size / 3;
        right: -1 * $icon-size / 3;
    }    
}


.cx-modal{
    $this: &;
        @include pos-abs-full;
        padding: 0 $space-base;
        display: flex;
        flex-direction: column;
        z-index: 21;
        overflow-y: auto;    
    &:after{
        @include pos-abs-full;
        content: "";
        background-color: rgba($color-white, .95);
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        z-index: 20;
    }
    &__body{
        margin: auto;
        position: relative;
        z-index: 21;
        width: 800px;
        max-width: 100%;
    }
    &__close{
        @extend .cx-btn;
        position: absolute;
        top: 0;
        z-index: 21;
        html[dir="ltr"] &{
            right: 0;
        }
        html[dir="rtl"] &{
            left: 0;
        } 
    }
    // for popup use, eg. alert
    &--full{
        @extend .cx-modal;
        position: fixed;
        z-index: $z-sky + 1; 
        &:after{
            position: fixed;
            z-index: $z-sky;  
        }
        #{$this}__body{
            z-index: $z-sky + 1; 
        }        
        #{$this}__close{
            position: fixed;
            top: $space-base;
            html[dir="ltr"] &{
                right: $space-lg;
            }
            html[dir="rtl"] &{
                left: $space-lg;
            } 
        } 
    }    
}

// 3. Off Canvas Menu
.cx-offcanvas{
    &__content{
        @include set-font(1);
        transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1);
        overflow: auto;
        position: fixed;
        width: 80%;
        min-width: 320px;
        bottom: 0;
        z-index: $z-sky + 3;
        top: 0;
        background-color: $color-white;
        html[dir="ltr"] &{
            transform: translateX(100%);
            right: 0;
            &.-shown{
                transform: translateX(0);
            }
        } 
        html[dir="rtl"] &{
            transform: translateX(-100%);
            left: 0;
            &.-shown{
                transform: translateX(0);
            }
        }
        a{
            justify-content: space-between;
        }
        .cx-dropdown{
            flex: 1;
            &__content{
                padding: $space-base 0; 
                box-shadow: none;
                border: 0;
                position: relative;
                max-height: none;
                right: 0;
            }
        }
        .cx-link{
            @extend %link-on-list;
            margin: 0 -#{$space-base};
            flex: 1;
        }        
    }
}


// 4. Slider
.cx-slider{
    position: relative;
    overflow: hidden;
    &__slide{
        transition: transform .5s ease-in-out;
        will-change: transform;
        display: flex;
        flex-wrap: nowrap;
        @for $i from 1 through 20{
            &[data-activeslide = "#{$i}"]{
                transform: translate3d( ($i - 1) * -100%, 0, 0);
            }
        }
    }
    &__item{
        flex: 1 0 100%;
        position: relative;
    }
    &__nav{
        @include normalize-link($color-white);
        @include pos-abs-full;
        @extend .cx-row--line;
        color: $color-white;
        align-items: center;
        z-index: 2;
        pointer-events: none;
        .cx-link{
            transition: opacity .2s ease-in-out;
            pointer-events: all;
            opacity: .7;
            color: inherit;
            text-shadow: 0 0 10px rgba($color-pureblack, .3);
            &:hover{
                color: inherit;
                opacity: 1;
            }
            &__icon{
                width: $touch-target-size;
                display: inline-block;
                text-align: center;
            }
        }
    }
    &__pager{
        pointer-events: all;
        position: absolute;
        top: $space-base;
        line-height: 1;
        html[dir="ltr"] &{
            right: $space-base;
        }
        html[dir="rtl"] &{
            left: $space-base;
        }
        .cx-link{
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: $color-white;
            font-size: 0;
            vertical-align: middle;
            margin: 0 2px;
            opacity: .3;
            box-shadow: 0 0 5px 0 rgba($color-pureblack, .3);            
            &.-active{
                opacity: 1;
            }
        }
    }
    &--contain{
        background-color: $color-grey;
        .cx-media__img{
            background-size: contain;
        }
    }
}

// 5. Tab
.cx-tab{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: $br-base;
    border: 1px solid $color-border;
    overflow: hidden;
    label, &__label{
        @extend .cx-t01;
        @extend %truncate;
        color: $color-black;
        line-height: 1.4;
        background-color: $color-lightbg;
        padding: $int-space-base;
        cursor: pointer;
        z-index: 1;
        margin-bottom: 0;
        font-weight: bold;
        flex: 1 0 50%;
        @media (min-width: $breakpoint-md) {
            flex: 1 1 0;
            white-space: normal;
        }
        i{
            @media (min-width: $breakpoint-md) {
                display: block;
                margin-bottom: $int-space-xs;
            }
        }        
    }
    article, &__content{
        width: 100%;
        -webkit-order: 1;
        order: 1;
        padding: $space-lg $space-base;
        &:after{
            content: "";
            background-color: firebrick;
        }
    }
    input[type=radio], article, &__content{
        display: none;
    }
    input[type=radio]:checked + label, &__label.-active {
        background-color: $color-yellow;
    }
    input[type=radio]:checked + label + article, .-active + &__content{
        display: block;
    }
}
.cx-panel{
    display: flex;
    flex-wrap: wrap;
    border-radius: $br-base;
    border: 1px solid $color-lightbg;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    padding: $space-lg;
    @media (min-width: $breakpoint-md) {
        height: 80vh;
    }
    label{
        @extend .cx-t01;
        @extend %truncate;
        color: $color-black;
        margin-bottom: $space-base;
        cursor: pointer;
        font-weight: bold;    
        order: 1;  
        @media (min-width: $breakpoint-md) {
            max-width: 30%;
        } 
    }
    article{
        width: 100%;
        -webkit-order: 1;
        order: 1000;
        border-top: 1px solid $color-border;
        padding-top: $space-lg;
        @media (min-width: $breakpoint-md) {
            border-top: 0;
            padding: $space-lg;
            overflow-y: scroll;
            max-width: 70%;
            margin-left: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }
        &:after{
            content: "";
            background-color: firebrick;
        }
    }
    input[type=radio], article{
        display: none;
    }
    input[type=radio]:checked + label {
        // background-color: $color-yellow;
        color: $color-primary;
    }
    input[type=radio]:checked + label + article{
        display: block;
    }   
}

// 6. Accordion
.cx-accordion{
    & > div{
        border: 1px solid $color-lightbg;
        border-radius: $br-base;
        overflow: hidden;
        position: relative;
        &:not(:last-child){
            margin-bottom: $space-xs;
        }
    }
    label{
        @extend .cx-t01;
        font-weight: bold;
        padding: $space-sm $space-base;
        position: relative;
        z-index: 20;
        cursor: pointer;
        background: $color-lightbg;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }    
    input:checked + label, input:checked + label:hover{
        background-color: $color-yellow;
    }    
    label:after{
        content: "\f078";	
        font-family: "Font Awesome 5 Pro";
    }    
    input{
        display: none;
    }
    input:checked + label:after{
        content: "\f077";
    }   
    article{
        padding-left: $space-base;
        padding-right: $space-base;
        margin-top: -1px;
        overflow: hidden;
        max-height: 0;
        position: relative;
        z-index: 10;
        // transition: max-height 0.5s ease-in-out,
        //             padding 0.5s ease-in-out;
    }
    input:checked ~ article{
        padding-top: $space-lg;
        padding-bottom: $space-lg;
        max-height: 800px;
    }    
}