// 1. Typography
// 3. Table
// 4. List
// 5. Button
// 6. Thumbnail
// 7. Icon
// 8. Form Elements
// 9. Sticky

// 1. Typography
.cx-t30{
    font-weight: bold;
    line-height: $lineheight-xxl * 1.3;
}
.cx-t20{
    font-weight: bold;
    line-height: $lineheight-xl;
}
.cx-t10{
    font-weight: bold;
    line-height: $lineheight-md;
    &--border{
        @extend .cx-t10;
        border-bottom: 1px solid $color-border;
        margin-bottom: $int-space-base;
        padding-bottom: $int-space-sm;
        opacity: 1 !important;
    }
}
body{
    @include set-font();
}


// 3. Table
.cx-table{
    width: 100%;
    &__label{
        font-weight: bold;
        width: 20%;
    }
    &__compact{
        width: 1%;
    }
    &--borderless{
        @extend .cx-table;
        border: 0;
        *{
            border: 0;
        }
    }
}

// 4. List
.cx-list{
    $self: &;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    &__item{
        display: flex;
        align-items: center;
        &:after{
            content: "";
            display: inline-block;
            width: $int-space-base;
            @media (min-width: $breakpoint-lg) {
                width: $int-space-lg;
            }
        }    
        &:last-of-type{
            &:after{
                display: none;
            }
        }
    }
    &--sep{
        @extend .cx-list;
        & > #{$self}__item{
            position: relative;
            &:after{
                height: .7em;        
                width: 1px;
                background-color: rgba($color-border, .4);
                margin: 0 $int-space-base;  
            }
            &:last-of-type{
                &:after{
                    display: none;
                }
            }
        }   
    }
    &--breadcrumb{
        @extend .cx-list;
        @include normalize-link;
        #{$self}__item{
            display: inline;
            &:after{
                content:"/";
                opacity: .4;
                display: inline-block;
                text-align: center;
            }
            &:last-of-type{
                &:after{
                    display: none;
                }
            }
        }   
    }
    &--sm{
        @extend .cx-list;
        #{$self}__item{
            &:after{
                width: $int-space-sm;
                @media (min-width: $breakpoint-lg) {
                    width: $int-space-base;
                }
            }
        }
    }
    &--vertical{
        @extend .cx-list;
        flex-direction: column;
        #{$self}__item{
            margin-right: 0;
            display: block;
            max-width: 100%;
            margin-bottom: $space-base;
            &:last-of-type{
                margin-bottom: 0;
            }
            &:after{
                display: none;
            }            
        }        
    }
}

.cx-option{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    @media (min-width: $breakpoint-sm) {
        display: block;
    }
    &__item{
        display: flex;
        margin-bottom: $space-base;
        color: $color-text;
        cursor: pointer;
        line-height: 1.5;
        align-items: baseline;
        flex: 1 0 auto;
        margin-right: $space-base;
        @media (min-width: $breakpoint-sm) {
            margin-right: 0;
        }
        &:hover{
            text-decoration: none;
        }
        &:before{
            @media (min-width: $breakpoint-sm) {
                content: "";
                margin-right: $space-sm;
                width: 5px;
                height: 5px;
                min-width: 5px;
                border-radius: 50%;
                background-color: $color-border;
                display: block;
                transform: translateY(-3px);
            }
        }
        &.-active{
            color: $color-primary;
            font-weight: bold;
            &::before{
                background-color: $color-primary;
            }
        }        
    }
}


// 5. Button
.cx-btn{
    position: relative;
    color: $color-white;
    background-color: $color-primary;
    font-weight: bold;
    padding: $int-space-sm $int-space-base;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;    
    // html[dir="rtl"] &{
    //     display: inline-flex;
    //     flex-direction: row-reverse;    
    //     justify-content: center;
    // }
    &:hover{
        color: $color-white;
        box-shadow: 0 0 10rem 0 rgba($color-text, 0.1) inset;
    }
    &:focus{
        // outline: none;
        // box-shadow: 0 0 3px 0 $color-border;
    }    
    &:active{
        box-shadow: 0 0 10rem 0 rgba($color-text, 0.2) inset;
    }
    &--sub{
        @extend .cx-btn;
        color: $color-text;
        background-color: $color-lightbg;
        &:hover{
            color: $color-text;
        }
    }
    &--light{
        @extend .cx-btn;
        color: $color-text;
        background-color: $color-white;
        &:hover{
            color: $color-text;
        }        
    }
    &--highlight{
        @extend .cx-btn--sub;
        background-color: $color-yellow;
    }
    &--full{
        @extend .cx-btn;
        @extend %truncate;
        width: 100%;
        // fix weird push by overflow hidden on inline block
        vertical-align: bottom;
    }
}
.cx-link{
    border: 0;
}
.cx-link, .cx-btn{
    display: inline-block;
    border-radius: $br-base;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        cursor: pointer;
    }
    &__icon{
        font-weight: normal;
        &:first-of-type{
            &:after{
                content: "";
                width: $int-space-xs / 2;
                display: inline-block;
            }
        }
        &:last-of-type{
            &:before{
                content: "";
                width: $int-space-xs / 2;
                display: inline-block;
            }
        }
    }
    &--stack{
        @extend .cx-link;
        text-align: center;
        .cx-link__icon{
            display: block;
            @media (min-width: $breakpoint-lg){
                display: inline;
            }
            margin: 0;    
        }
        .cx-link__text{
            font-size: $font-xs;
            line-height: 1;
        }
    }
}

// 6. Thumbnail
.cx-media{
    $self: &;
    position: relative;
    width: 100px;
    min-width: 100%;
    vertical-align: middle;
    &__img{
        @include bg-img();
        width: 100%;
        padding-top: 100%;
        &--round-corner{
            @extend .cx-media__img;
            border-radius: $br-base;
        }
        &--round{
            @extend .cx-media__img;
            border-radius: 50%;
        }
        &--full{
            @include bg-img();
            width: 100%;
            height: 100vh;           
        }
    }
    &__video{
        background-color: #000;
        video, iframe{
            @include pos-abs-full;
            display: block;
        }
    }
    &__graphics{
        $graphics: &;
        width: 100%;
        height: $thumb-graphic;
        line-height: $thumb-graphic;
        border-radius: 50%;
        box-shadow: 0 0 0 3px $color-midgrey inset;
        text-align: center;
        font-size: $font-lg;
        @at-root a:hover #{$graphics}{
            box-shadow: 0 0 0 3px $color-white inset;
        }
    }
    &__icon{
        position: absolute;
        top: 0;
        z-index: 2;
        html[dir="ltr"] &{
            right: 0;
            margin-right: -$icon-size /4;
        } 
        html[dir="rtl"] &{
            left: 0;
            margin-left: -$icon-size /4;
        }        
    }
    &__expand{
        position: absolute;
        bottom: $space-base;
        line-height: 1;
        transition: opacity .2s ease-in-out;
        pointer-events: all;
        cursor: pointer;
        opacity: .5;
        color: $color-white;
        text-shadow: 0 0 10px rgba($color-pureblack, 0.3);
        html[dir="ltr"] &{
            right: $space-base;
        } 
        html[dir="rtl"] &{
            left: $space-base;
        }        
        &:hover{
            opacity: 1;
        }
    }
    &__action{
        position: absolute;
        top: $space-base;
        z-index: 2;
        html[dir="ltr"] &{
            left: $space-base;
        }
        html[dir="rtl"] &{
            right: $space-base;
        }        
    }
    &__caption{
        padding: $space-base;
        color: $color-white;
        position: absolute;
        left: 0;
        right: 0;
        @include normalize-link($color-white);        
        &:nth-child(odd){
            bottom: 0;
            padding-top: $space-lg;
            background-image: linear-gradient(180deg, rgba($color-pureblack, 0), rgba($color-pureblack, .3), rgba($color-pureblack, .5));
        }
        &:nth-child(even){
            top: 0;
            background-image: linear-gradient(180deg, rgba($color-pureblack, .5), rgba($color-pureblack, .3), rgba($color-pureblack, 0));            
            padding-bottom: $space-lg;
        }        
    }
    &--byline{
        @extend .cx-media;
        min-width: auto;
        width: 1em;
        display: inline-block;
        vertical-align: middle;
        #{$self}__img{
            display: inline-block;
        }
    }
    &--icon{
        width: $thumb-graphic;
    }
    &--header{
        position: relative;
        width: 100%;
        & > #{$self}__img, & > #{$self}__video{
            padding-top: 35%;
            @media (min-width: $breakpoint-sm){
                padding-top: 20%;
            }
        }        
    }
    &--cover{
        position: relative;
        width: 100%;
        & > #{$self}__img, & > #{$self}__video{
            padding-top: 56.25%; //16:9
        }
    }
    &--panorama{
        position: relative;
        width: 100%;
        & > #{$self}__img, & > #{$self}__video{
            padding-top: 42.8571%; // 21:9
        }
    }    
    &--rect{
        position: relative;
        width: 100%;
        & > #{$self}__img, & > #{$self}__video{
            padding-top: 75%; // 4:3
        }
    }      
    &--full{
        @include pos-abs-full;
        & > #{$self}__img, & > #{$self}__video{
            @include pos-abs-full;
            padding: 0;
        }        
    }
    &--bio{
        background-color: $color-primary;
        color: $color-white;
        text-align: center;
        padding: $space-lg;
        & > #{$self}__img{
            width: 200px;
            height: 200px;
            margin: auto;
            padding: 0;
        }
        // should change to desc or remove
        & > #{$self}__caption{
            position: static;
            padding-bottom: 0;
        }        
    }
}

// 7. Icon
.cx-icon{
    background-color: $color-white;
    color: $color-primary;
    box-shadow: 0 0 0 3px currentColor inset;
    border-radius: 50%;
    width: $icon-size;
    line-height: $icon-size;
    font-size: $icon-font;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    &--solid{
        @extend .cx-icon;
        background-color: $color-primary;
        box-shadow: none;
        color: $color-white;
    }
    &--sm{
        @extend .cx-icon--solid;
        border-radius: 100px;
        width: $icon-size-sm;
        line-height: $icon-size-sm;
        font-size: $icon-font;       
        box-shadow: 0 0 1px 1px rgba($color-pureblack, .1) inset;
    }    
}
.cx-marker{
    @extend .cx-icon;
    background-color: $color-primary;
    position: relative;
    box-shadow: none;
    color: $color-white;
    margin-bottom: 10px;
    &:before{
        display: block;
        content: "";
        width: inherit;
        padding-bottom: 100%;
        border-radius: 50% 50% 50% 0;
        transform: rotate(-45deg);
        position: absolute;
        background-color: inherit;
        z-index: 2;
    }
    // shadow
    &:after{
        display: block;
        content: "";
        background: rgba(0,0,0,0.1);
        border-radius: 50%;
        height: 8px;
        width: 16px;
        left: 50%;
        top: 108%;
        margin-left: -8px;
        z-index: 1;
        position: absolute;
    }
    &__info{
        position: relative;
        z-index: 10;
    }
    &__icon{
        line-height: 1;
        max-width: 1em;
        position: relative;
        z-index: 4;
    }
    &--sm{
        @extend .cx-marker;
        border-radius: $br-sm;
        width: $icon-size-sm;
        line-height: $icon-size-sm;
        font-size: $icon-font;
        &:after{
            height: 6px;
            width: 12px;
            margin-left: -6px;
        }       
    }
}

// 8. Form Elements

// Visually hide an element, but allow a screen-reader to see it
%visually-hidden {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
}
%label{
    font-weight: bold;
    display: inline-block;
    margin-bottom: $int-space-xs;
    // Only add a pointer cursor if there's a for attribute
    &[for] {
        cursor: pointer;
    }
    // Create a line break
    &:after {
        content: "\A";
        white-space: pre;
    }
}
.cx-label{
    @extend %label;
    &--mute{
        @extend %visually-hidden;
        @extend %label;
    }
}
.cx-field{
    @extend %truncate;
    background: $color-white;
    color: inherit;
    border: 1px solid $color-border;
    padding: $int-space-sm $int-space-base;
    border-radius: $br-base;  
    width: 100%;  
    line-height: normal;
    &:focus{
        outline: none;
        box-shadow: 0 0 3px 0 $color-border;
    }
    &::placeholder{
        color: $color-fade3;
    }
}
.cx-checkbox{
    &__label{
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        color: $color-text;
        &:before{
            content: "";
            border-radius: $br-sm;
            width: 1em;
            min-width: 1em;
            height: 1em;
            border: 2px solid currentColor;
            background-image: url(../images/tick.svg);
            background-position: center;
            background-size: 80% auto;
            background-repeat: no-repeat;
            display: block; 
            html[dir="ltr"] &{
                margin-right: $space-sm;
            } 
            html[dir="rtl"] &{
                margin-left: $space-sm;
            }      
        }
        &:hover{
            color: $color-primary;
            &:before{
                background-color: rgba($color-primary, .1);
            }
        }
    }
    &__input{
        position: absolute;
        visibility: hidden;
        &:checked + label{
            color: $color-primary;
            &:before{
                background-color: $color-primary;
            }
        }        
    }    
}

// 9. sticky
%sticky{
    left: 0;
    right: 0;
    padding-left: $space-base;
    padding-right: $space-base;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
}
.cx-sticky{
    $self: &;
    @extend %sticky;
    @include normalize-link($color-white);
    top: 0;
    background-color: $color-black;
    color: $color-white;
    position: fixed;
    z-index: $z-sky - 1; 
    &__body{
        @extend %truncate;
    }
    & + *{
        margin-top: $space-sm * 2 + $font-xs * $lineheight-xs;
    }
    &__close{
        text-align: right;
        min-width: 40px;
        margin-right: -$space-base !important;
        padding-right: $space-base !important;         
        &__collapsed{
            display: none;
        }
        a, button{
            cursor: pointer;
            padding: 1em;
            margin: -1em;
            display: inline-block;   
            color: inherit;        
            border: 0;
            background-color: transparent;
        }
    }
    &--abs{
        @extend %sticky;
        top: 0;
        position: absolute;
        background-color: $color-white;
        z-index: $z-dropdown - 2; 
    }
    &--bottom{
        @extend %sticky;
        @include normalize-link($color-white);
        bottom: 0;
        background-color: $color-black;
        color: $color-white;
        position: fixed;
        z-index: $z-sky - 1;         
    }
    &.-collapsed{
        transform: translateY(-100%);
        #{$self}__close{
            position: absolute;
            color: $color-white;
            font-size: 14px;
            top: 100%;     
            right: auto;
            padding: 0 !important;  
            margin: 0 !important;
            html[dir="ltr"] & {
                left: 100%;
            }   
            html[dir="rtl"] & {
                right: 100%;
            }       
            a, button{
                width: 4em;
                height: 4em;
                display: block;
                background: $color-red;
                cursor: pointer;
                padding: 0 !important;  
                margin: 0 !important;
                html[dir="ltr"] &{
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                html[dir="rtl"] &{
                    transform: translate(50%, -50%) rotate(-45deg);
                }
            }
            &__collapsed{
                display: block;
                position: absolute;
                top: 80%;
                font-size: 1em;
                html[dir="ltr"] &{
                    left: 55%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
                html[dir="rtl"] &{
                    right: 55%;
                    transform: translate(50%, -50%) rotate(45deg);
                }                
            }
            &__normal{
                display: none;
            }
        }
        & + *{
            margin-top: 0;
        }
    }
}