// 1. Social Media Button
@each $brand, $color in $brand-color{
    .cx-btn.cx-brand-#{$brand}{
        background-color: $color;
        span:last-child{
            display: none;
        }
    }
}

