// 1. Font Family
body {
    width: 100%;
    overflow-x: hidden;
    font-family: $font-default;
}

// 7. header
.theme-header{
    @include normalize-link;
    @include set-font(.8);
    align-content: center;
    padding: $space-base;
}

// 8. footer
.theme-footer{
    @include normalize-link($color-white);
    @include set-font(.8);
    background-color: $color-darkgrey;
    padding: $space-lg $space-base;
    color: $color-midgrey;
}

// 10. mapbox
.theme-map{
    background-color: $color-grey;
    left: 50%;
    top: 112px;
    height: calc(100vh - 112px);
    &__legend{
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        align-items: center;
        background-color: transparent;
        box-shadow: none;
        .cx-sticky__body{
            opacity: 0;
            pointer-events: none;
        }
        &.-active{
            @include pop-shadow;
            background-color: rgb(248, 248, 248);
            .cx-sticky__body{
                opacity: 1;
                pointer-events: auto;
            }
        }
        & + *{
            margin-top: calc(#{$int-space-base} * 2 + 1em);
        }
    }
    &__nav{
        position: absolute;
        right: $int-space-base;
        top: $int-space-sm;
        display: flex;
        flex-direction: column;
    }
}

.theme-mbbtn{
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: $color-white;
    width: 30px;
    height: 30px;
    outline: none;
    border: 0;
    line-height: 30px;
    text-align: center;
    font-size: $font-sm;
    color: $color-darkgrey;
    cursor: pointer;
    &:hover{
        background-color: darken($color-white, 10%);
    }
    &:focus{
        outline: 0;
    }
    &:first-child{
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }
    &:last-child{
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

.theme-mbpop{
    .mapboxgl-popup-close-button{
        font-size: 20px;
    }
}

.theme-color-dummy{
    @include link-color(#33adff);
}

// 8. Logo
.theme-logo{
    $self: &;
    width:40px;
    display: block;
    @media (min-width: $breakpoint-lg) {
        width: 260px;
    }
    &__img{      
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url($logo-img);
        background-color: $color-white;
        background-size: contain;
        padding-top: 100%;
        background-size: auto 100%;
        @media (min-width: $breakpoint-lg) {
            padding-top: 15%;
        }        
    }
    &--icon{
        @extend .theme-logo;
        width:40px;
        #{$self}__img{
            padding-top: 100%;
            background-size: auto 100%;
        }
    }
}
